body {
    background: lightcyan;
    font-family: Comic sans MS, Happy monkey;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #007474;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #007474;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    width: 500px;
}